@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    border-radius: 50%;
}
.logo p{
    padding-left: 5px;
    font-weight: 700;
}
.search{
    position: relative;
}
.search input{
    padding: 8px 40px;
    outline: none;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}
.search input:focus{
    border: 2px solid #2a7ae4;
    box-shadow: 3px 20px 30px rgba(170, 170, 170, 0.4);
}
.search i{
    position: absolute;
    right: 10px;
    top: 9px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: #00b8e6;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #00b8e6;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
  }
  #close{
    display: none;
    align-items: center;
  }

/* footer ----------------------------------------- */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  footer .col .logo{
    width: 100%;
    height: 20vh;
    border-radius: 15px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  footer .follow{
    margin-top: 10px;
  }
  footer .follow h4{
    padding-bottom: 0px;
  }
  footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
    border: 1px solid #00b8e6;
    border-radius: 6px;
  }
  footer .install img{
    margin: 10px 0 15px 0; 
  }
  footer .follow i:hover,
  footer a:hover{
    color: #00b8e6;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }
  
  /* shop page ------------------------------------------------------------- */
  #page-header{
    background-image: url(./img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }
  #page-header h2,
  #page-header p{
    color: #fff;
  }
  #pagination{
    text-align: center;
  }
  #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  }
  #pagination a i{
    font-size: 16px;
    font-weight: 600;
  }
  
@media (max-width:1013px){
    .search{
        display: none;
    }
}
@media (max-width:790px){
    header{
        padding: 20px 20px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(70,62,221,0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    .navbar.active{
        right: 0px;
    }
    .navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 22px;
    }
    #li-bag{
        display: none;
    }

    footer{
        padding: 20px 20px;
    }
}
@media (max-width:375px){
    .video-max{
        width: 100%;
    }
}